{% extends 'riseup_templates/base.html' %}
{% load widget_tweaks %}

{% block title %}
    Reset Password
{% endblock title %}

{% block css %}
    {% include 'accounts/includes/css/login.css' %}
{% endblock css %}

{% block content %}
{% include 'riseup_templates/includes/html_docs/alerts.html' %}
    <section class="login-section"> 
        {# ... (animated bg, container, row - maybe adjust column width) ... #}
        <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
            <div class="login-card">
                <div class="login-header">
                    <h2>Forgot Your Password?</h2>
                    <p>Enter your email address below, and we'll email instructions for setting a new password.</p>
                </div>
                <div class="login-body">
                    <form method="POST" action="{% url 'accounts:password_reset' %}" novalidate>
                        {% csrf_token %}
                        {% include 'accounts/includes/html_docs/error_password_reset_form.html' %}
                        <div class="input-group">
                            {% render_field form.email class+="form-control form-control-lg" placeholder=" " %}
                            <label for="{{ form.email.id_for_label }}" class="floating-label">Email Address</label>
                        </div>

                        <button type="submit" class="btn btn-login">Send Reset Link</button>
                    </form>
                    <div class="register-link mt-3">
                        Remembered your password? <a href="{% url 'accounts:login' %}">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}