{% extends 'riseup_templates/base.html' %}
{% load static %}

{% block title %}Password Reset Complete{% endblock title %}

 {% block css %}
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock css %}

{% block content %}
 <section class="login-section">
     <div class="container">
         <div class="row">
             <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
                 <div class="login-card">
                      <div class="login-header">
                           <h2>Password Changed</h2>
                      </div>
                      <div class="login-body text-center">
                        <p>Your password has been successfully set. You can now log in with your new password.</p>
                        <a href="{% url 'accounts:login' %}" class="btn btn-login mt-3">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}